# Database
DATABASE_URL="file:./dev.db"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="cloudinary_cloud_name"
CLOUDINARY_API_KEY="cloudinary_api_key"
CLOUDINARY_API_SECRET="cloudinary_api_secret"

# App
PORT="PORT"


SEED_PROJECT_API_KEY="sk_your_custom_key"


